colorama==0.4.6
imageio==2.37.4
iniconfig==2.3.0
lazy-loader==0.5
networkx==3.6.1
numpy==2.5.3
opencv-python-headless==4.14.0.94
packaging==26.3
pillow==12.3.0
pluggy==1.6.0
pygments==2.21.0
pyside6==6.11.2
pyside6-addons==6.11.2
pyside6-essentials==6.11.2
pytest==9.1.1
scikit-image==0.26.0
scipy==1.18.1
shiboken6==6.11.2
tifffile==2026.9.9
